<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/util/jquery.min.js}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/util/bootstrap.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/js/util/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <script th:src="@{/js/general.js}" ></script>
    <script th:src="@{/js/notActivated.js}" ></script>

    <title>Stroodie</title>
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<div class="col-sm-8 col-sm-offset-2">
    <div class="text-center">
        <div th:if="${sent == null and sentError == null and tokenExpired == null}"><h3>Регистрация не подтверждена. Пожалуйста, проверьте электронную почту,
            указанную Вами при регистрации. Если письмо не приходило, нажмите
            <a th:href="@{/repeatActivation}" onclick="clickAndDisable(this);">сюда</a>,
            чтобы отправить его повторно</h3></div>
        <div th:if="${sent != null}"><h3>Письмо было отправлено повторно. Пожалуйста, проверьте Вашу электронную почту</h3></div>
        <div th:if="${sentError != null}"><h3>К сожалению, при отправке сообщения произошла ошибка.
            Убедитесь, что Вы предоставили корректный адрес электронной почты</h3></div>
        <div th:if="${tokenExpired != null}"><h3>К сожалению, время действия ссылки истекло. Для повторной отправки сообщения
        активации нажмите <a th:href="@{/repeatActivation}" onclick="clickAndDisable(this);">сюда</a>.</h3></div>
    </div>
</div>
<span th:include="fragments/go_top_element::go_top"></span>
</body>
</html>