<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script th:src="@{/js/util/jquery.min.js}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/util/bootstrap.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/js/util/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <script th:src="@{/js/general.js}" ></script>
    <script th:src="@{/js/passwordRecovery.js}" ></script>

    <title>Stroodie</title>
</head>
<body>
<div th:if="${passwordChanging == null}">
    <h3 class="text-center">Для восстановления пароля введите email, указанный Вами при регистрации</h3>
    <div class="col-sm-4 col-sm-offset-4">

        <div th:if="${recoveryTokenExpired != null}">
            <div class="well errors-div">К сожалению, время действия ссылки истекло. Попробуйте еще раз</div>
        </div>
        <div id="sent_success_div" class="well success-div hidden">На вашу электронную почту отправлено сообщение
            с дальнейшими инструкциями</div>
        <div id="sent_error_div" class="well errors-div hidden">К сожалению, при отправке сообщения произошла ошибка.
            Убедитесь, что Вы предоставили корректный адрес электронной почты!</div>
        <div id="email_error_div" class="well errors-div hidden">Введен неверный адрес электронной почты!</div>

        <div class="gap-top"></div>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email" />

        <div class="text-right gap-top">
            <button type="button" class="btn btn-primary btn-lg submit-btn" onclick="recoverPasswordRequest();">Восстановить</button>
            <span class="gap-left"></span>
            <a class="btn btn-lg btn-primary" th:href="@{/login}">Назад</a>
        </div>
    </div>
</div>

<div th:if="${passwordChanging != null}">
    <h3 class="text-center">Введите новый пароль</h3>
    <div class="col-sm-4 col-sm-offset-4">

        <div class="gap-top"></div>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control"
               th:placeholder="${'Пароль (от ' + (T(controllers.Validation).PASSWORD_MIN_LENGTH) + ' до ' + (T(controllers.Validation).PASSWORD_MAX_LENGTH)} + ' символов)'" />

        <div class="gap-top"></div>
        <label for="inputPasswordConfirm" class="sr-only">Подвердите пароль</label>
        <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Подтвердите пароль" />

        <div id="recover_fb" class="well errors-div hidden"></div>

        <div class="text-right gap-top">
            <button type="button" class="btn btn-primary btn-lg submit-btn" onclick="recoverPassword();">Принять</button>
        </div>
    </div>
</div>
<span th:include="fragments/go_top_element::go_top"></span>
</body>
</html>